<div class="order-nav">
    <div class="inner-nav">
        <div class="logo">Skill Up.</div>
        <div class="cancel-txt cursor-pointer" (click)="onCancel()">Cancel</div>
    </div>
</div>

<div class="order-cont">

    <!-- LEFT SIDE -->
    <div class="order-detail-cont">

        <div class="head">Order Details</div>

        <ng-container *ngFor="let item of cartData">

            <div class="item-card">

                <div class="item-left">

                    <img [src]="item.coursePoster.url" [alt]="item.courseName" class="item-img" />

                    <div class="item-info">
                        <div class="course-title">{{ item.courseName }}</div>
                        <div class="instructor">Instructor - {{item.educatorName}}</div>
                    </div>

                </div>

                <div class="item-price">
                    ₹ {{ item.coursePrice }}
                </div>

            </div>

        </ng-container>

    </div>


    <!-- RIGHT SIDE -->
    <div class="order-price-cont">

        <div class="summary-card p-fluid">

            <div class="head">Order Summary</div>

            <div class="summary-row">
                <span>Total Courses</span>
                <span class="text-green">{{cartItemsLength}}</span>
            </div>

            <div class="summary-row">
                <span>Total Price</span>
                <span>₹ {{totalCartPrice}}</span>
            </div>

            <div class="summary-row">
                <span>Discount({{discountPercentage}}%)</span>
                <span class="text-green">- ₹{{totalCartPrice-discountedPrice}}</span>
            </div>

            <div class="divider"></div>

            <div class="summary-row final">
                <span>Final Price</span>
                <span>₹ {{discountedPrice}}</span>
            </div>

            <p-button class="w-full mt-3" label="Make Payment" (onClick)="checkOutHandler()"></p-button>

        </div>

    </div>

</div>