<div class="container m-auto flex gap-6" style="width: 90%;">

    <div class="cartcontainer" style="width: 70%;">
        <div class="head my-5  ">
            Shopping cart
        </div>
        <div class="items mb-1 text-lg">
            {{cartItemsLength}} courses in cart
        </div>
        <div class="cart flex flex-column gap-3 ">
            @for (item of cartData$ | async ; track $index) {
                <div class="course flex gap-3 align-items-center justify-content-center border-top-1 border-400 pt-3 ">
                    <div class="imgcont" style="width: 15%;">
                        <img [src]="item.coursePoster.url" [alt]="item.courseName" class="w-full">
                    </div>
                    <div class="flex flex-column align-items-center sm:align-items-start gap-1">
                        <div class="text-lg font-bold text-900 font-bold">{{ item.courseName }}</div>
                        <div class="subtitle text-sm text-900 "> {{item.subTitle}} </div>
                        <div class="text-sm ">
                            Instructor - {{item.educatorName}}
                        </div>
                        <div class="lec text-sm flex gap-2    ">
                            <span class="lecture">123 lecutres</span> |
                            <span class="lecture">{{item.level}}</span> |
                            <span class="lecture">{{item.language}}</span>
                        </div>
                    </div>
                    <div class="pr-2 w-2 flex align-items-end gap-4 flex-column justify-content-between">
                        <span class="text-lg font-semibold">{{ '₹ ' + item.coursePrice }}</span>
                        <span class="text-sm text-primary cursor-pointer" (click)="removeFromCart(item.courseId)" >Remove item</span>
                    </div>
                </div>
            }
        </div>

    </div>

    <div *ngIf="cartItemsLength > 0" class="billcontainer p-fluid mt-8 flex flex-column gap-2 border-1" style="width: 30%;">
        <div class="text-lg font-bold text-600">Total - </div>
        <div class="price text-3xl font-bold text-800 ">
            ₹ 3200 <span class="text-lg text-600"><s>₹ 5000 </s><span class="text-green-400"> &nbsp;64%
                    Off</span></span>
        </div>
        <p-button class="w-full" label="Checkout"></p-button>
    </div>

</div>