.cart-container {
  width: 93%;
  margin: auto;
  display: flex;
  gap: 30px;
  align-items: flex-start;
  padding: 30px 0px;
}

.cartcontainer {
  flex: 2;
}

.order-summary {
  flex: 1;
  position: sticky;
  top: 100px;
}

.cart-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.head {
  font-size: 1.5rem;
  font-weight: 600;
  font-family: "Clash";
}

.cart {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.item-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  border-radius: 14px;
  box-shadow: #00000029 0px 1px 4px;
  padding: 14px;
}

.item-left {
  display: flex;
  gap: 16px;
  align-items: center;
}

.item-left img {
  width: 180px;
  height: 100px;
  object-fit: cover;
  border-radius: 8px;
}

.item-info {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.course-title {
  font-weight: 500;
}

.instructor {
  font-size: 14px;
  color: #555;
}

.lec {
  font-size: 13px;
  color: #777;
  display: flex;
  gap: 6px;
}

.item-right {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-end;
  width: 80px;
}

.price {
  font-size: 18px;
  font-weight: 600;
}

.delete-btn {
  color: #be1414;
  border: 1px solid #be1414;
  border-radius: 8px;
  padding: 6px;
  cursor: pointer;
}

.summary-card {
  background: #fff;
  border-radius: 14px;
  padding: 20px;
  border: 1px solid #eee;
}

.summary-title {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 20px;
}

.summary-details {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.row {
  display: flex;
  justify-content: space-between;
}

.discount {
  color: #10B981;
}

.divider {
  height: 1px;
  background: #e0e0e0;
  margin: 10px 0;
}

.final {
  font-size: 18px;
  font-weight: 600;
}

.empty-cart {
  width: 100%;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.empty-cart img {
  width: 200px;
}

.title {
  font-size: 18px;
  font-weight: 600;
}

.subtitle {
  color: #666;
}

/* ---------- Tablet ---------- */

@media (max-width:1024px) {

  .cart-container {
    flex-direction: column;
  }

  .order-summary {
    position: relative;
    top: 0;
    width: 100%;
  }

}

/* ---------- Mobile ---------- */

@media (max-width:640px) {

  .item-card {
    flex-direction: row;
    align-items: start;
    gap: 12px;
  }

  .item-left {
    flex-direction: row;
    align-items: start;
    gap: 12px;
    width: 100%;
  }

  .item-left img {
    width: 70px;
    height: 70px;
    min-width: 70px;
    object-fit: cover;
    border-radius: 8px;
  }

  .item-info {
    flex: 1;
  }

  .course-title {
    font-size: 14px;
    line-height: 1.2;
  }

  .instructor {
    font-size: 12px;
  }

  .lec {
    font-size: 11px;
  }

  .item-right {
    flex-direction: column;
    align-items: flex-end;
    gap: 6px;
  }

  .price {
    font-size: 14px;
  }

}