.header-text{
  width: 90%;
}
.playlist-container{
  width: 90%;
}
.head {
  background-size: 30px 30px;
  background-image: radial-gradient(circle, #2e3f2e 1px, #1a251a 1px);
}

.text {
  font-size: 1.8rem;
  font-weight: 600;
  font-family: "General Sans";
  color: #c0d8c0;
  letter-spacing: 1px;
}

.card {
  position: relative;
}

.play {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  pointer-events: none;
}

.imgcont{
  position: relative;
}
.imgcont img{
  height: 160px;
}
.card:hover .play{
  opacity: 1;
}
.imgcont::after {
  content: "";
  position: absolute;
  background: #0e0f0e86;
  width: 100%; height: 100%;
  inset: 0;
  border-radius: 10px;
  opacity: 0;
}

.card:hover .imgcont::after{
  opacity: 1;
}

.review-btn{
  padding: 3px 5px;
  font-size: 0.85rem;
  border-radius: 999px;
  background-color: #10b869;
  color: #fff;
}