<p-toast></p-toast>
<div class="container">
    <div class="head py-6 ">
        <div class="text m-auto" style="width: 75%;">
            My Learning
        </div>
    </div>
    <div *ngIf="courseEnrolled?.length == 0" >
        <div class="w-full flex justify-content-center">
            <img src="../../../assets/images/Office-Desk--Streamline-Bangalore.png" alt="Start Learning Today" >
        </div>
        <div class="text-xl font-bold text-center ">Start Learning Today</div>
    </div>
    <div *ngIf="courseEnrolled?.length>0">
        <div class="info  m-auto mt-6 mb-3 pb-2 border-bottom-1 border-300 text-lg font-bold" style="width: 75%;">
            {{courseEnrolled?.length}} courses
        </div>
        <div class="m-auto courses pb-6 flex flex-wrap gap-4 " style="width: 75%;">
            <ng-container *ngFor="let item of courseEnrolled">
                <div routerLink="/player" class="card cursor-pointer" style="width: 28%;">
                    <div class="imgcont" style="width: 100%;">
                        <img [src]="item.coursePoster.url" alt="poster" class="w-full border-round-lg" style="object-fit: cover;">
                    </div>
                    <div class="play text-0 flex justify-content-center align-items-center ">
                        <svg xmlns="http://www.w3.org/2000/svg" width="42" height="42" viewBox="0 0 24 24"><path fill="currentColor" d="M21.409 9.353a2.998 2.998 0 0 1 0 5.294L8.597 21.614C6.534 22.737 4 21.277 4 18.968V5.033c0-2.31 2.534-3.769 4.597-2.648z"/></svg>
                    </div>
                    <div class="flex flex-column gap-2 mt-1" routerLink="/player">
                        <div class="title text-lg hover:text-green-500 hover:text-underline">
                            {{item.title}}
                        </div>
                        <div class="ins text-sm">
                            {{item.educator.edname}}
                        </div>
                    </div>
                </div>
            </ng-container>
        </div>
    </div>
</div>