<div class="container w-11 m-auto">

    <div class="flex mb-4">

        <div class="feedback w-6 flex flex-column gap-2 ">
            <div class="heading my-3 ">
                Give us feedback
            </div>
            <div class="flex gap-3">
                <span class="text">Give us a star rating : </span>
                <p-rating [(ngModel)]="reviewData.rating" />
            </div>
            <div class="flex flex-column gap-2">
                <span class="text">Tell us more about this course : </span>
                <textarea rows="2" cols="10" pInputTextarea [(ngModel)]="reviewData.desc"
                placeholder="Example : This course is ....."
                ></textarea>
            </div>
            <p-button label="Submit review" (onClick)="submitReview()" ></p-button>
        </div>
    
        <div class="ratingsect w-6 flex flex-column align-items-center gap-3 justify-content-center">
            <div class="heading my-3  ">
                Student feedback
            </div>
            <div class="rate flex flex-column align-items-center gap-2">
                <div class="rnum">
                    {{ overallRating }}
                </div>
                <div class="stars" style="color : #daa520;">
                    <!-- <ng-container *ngFor="let st of renderStar(overallRating)">
                        <ng-container *ngIf="st == 1">
                            <i class="fa fa-star"></i>
                        </ng-container>
                        <ng-container *ngIf="st != 1">
                            <i class="fa fa-star-half-stroke"></i>
                        </ng-container>
                    </ng-container>
                    <ng-container *ngFor="let st of renderEmpty(overallRating)">
                        <i class="fa-regular fa-star"></i>
                    </ng-container> -->
                </div>
                <div class="text">
                    Course rating
                </div>
            </div>
        </div>

    </div>


    <div class="heading my-3 ">
        Reviews
    </div>
    <div class="reviews">
        <ng-container *ngFor="let item of reviewsArr">
            <div class="rev flex align-items-start gap-3 border-bottom-1 pt-2 pb-3 border-300  ">
                <div class="avtr flex align-items-center justify-content-center  bg-green-400 text-0 ">
                    {{item.username.slice(0,1)}}
                </div>
                <div class="namerate flex flex-column gap-1 ">
                    <div class="name text-lg font-bold ">
                        {{item.username}}
                    </div>
                    <div class="rate text-sm flex align-items-center" style="color: #daa520;">
                        <!-- <ng-container *ngFor="let st of renderStar(item.rating)">
                            <i class="fa fa-star"></i>
                        </ng-container>
                        <ng-container *ngFor="let st of renderEmpty(item.rating)">
                            <i class="fa-regular fa-star"></i>
                        </ng-container> -->
                    </div>
                    <div class="desc">
                        {{item.desc}}
                    </div>
                </div>
            </div>
        </ng-container>
    </div>
</div>