<div class="footer">
    <div class="container m-auto pb-4 pt-7 ">
        <div class="textsec flex justify-content-between ">
            <div>
                <div class="heading text-0 ">
                    Skill Up.
                </div>
                <div class="text-0 text-lg mt-2" style="line-height: 1.6;">
                    This project comes under my personal projects. <br>Visit more such projects at <a class="link"
                        href="https://ospacious.netlify.app" target="_blank" rel="noopener noreferrer">
                        My Portfolio
                    </a>
                </div>
            </div>
            <div class="media w-5 text-lg">
                <div class="text-0 mb-3  font-bold">Also at - </div>
                <div class="flex gap-4">
                    <a href="https://ospacious.netlify.app" target="_blank" rel="noopener noreferrer"
                        class="link flex align-items-center">
                        Portfolio <svg xmlns="http://www.w3.org/2000/svg" width=".4r1em" height="1.4rem"
                            viewBox="0 0 15 15">
                            <path fill="currentColor" fill-rule="evenodd"
                                d="M3.646 11.354a.5.5 0 0 1 0-.707L10.293 4H6a.5.5 0 0 1 0-1h5.5a.5.5 0 0 1 .5.5V9a.5.5 0 0 1-1 0V4.707l-6.646 6.647a.5.5 0 0 1-.708 0"
                                clip-rule="evenodd" />
                        </svg>
                    </a>
                    <a href="https://github.com/Spacious74" target="_blank" rel="noopener noreferrer"
                        class="link flex align-items-center">
                        GitHub <svg xmlns="http://www.w3.org/2000/svg" width="1.4rem" height="1.4rem"
                            viewBox="0 0 15 15">
                            <path fill="currentColor" fill-rule="evenodd"
                                d="M3.646 11.354a.5.5 0 0 1 0-.707L10.293 4H6a.5.5 0 0 1 0-1h5.5a.5.5 0 0 1 .5.5V9a.5.5 0 0 1-1 0V4.707l-6.646 6.647a.5.5 0 0 1-.708 0"
                                clip-rule="evenodd" />
                        </svg>
                    </a>
                    <a href="https://www.linkedin.com/in/vishal-savita-876624169/" target="_blank"
                        rel="noopener noreferrer" class="link flex align-items-center">
                        LinkedIn <svg xmlns="http://www.w3.org/2000/svg" width="1.4rem" height="1.4rem"
                            viewBox="0 0 15 15">
                            <path fill="currentColor" fill-rule="evenodd"
                                d="M3.646 11.354a.5.5 0 0 1 0-.707L10.293 4H6a.5.5 0 0 1 0-1h5.5a.5.5 0 0 1 .5.5V9a.5.5 0 0 1-1 0V4.707l-6.646 6.647a.5.5 0 0 1-.708 0"
                                clip-rule="evenodd" />
                        </svg>
                    </a>
                </div>
            </div>
        </div>
        <div
            class="copy text-center text-lg text-0 pt-3 pb-1 border-top-1 border-green-200 mt-6 flex align-items-center gap-2 justify-content-center ">
            <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 16 16">
                <g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                    stroke-width="1.5">
                    <circle cx="8" cy="8" r="6.25" />
                    <path d="M10 6.75s-.75-1-2-1s-2.25 1-2.25 2.25s1 2.25 2.25 2.25s2-1 2-1" />
                </g>
            </svg> Designed and Developed by <span class="name">Vishal Savita</span>
        </div>
    </div>
    <a pTooltip="Back to top" tooltipPosition="bottom" href="#top"
        class="flex align-items-center justify-content-center topbtn border-1 p-2 ">
        <i class="pi pi-arrow-up"></i>
    </a>
</div>
