<p-toast></p-toast>
<div class="surface-0 w-full flex justify-content-center">
    <div class="w-10 mt-5">
        <p-stepper [linear]="!editMode">
            <p-stepperPanel header="Course Detail">
                <ng-template pTemplate="content" let-nextCallback="nextCallback" let-index="index">
                    <div class="step-form-container">
                        <form class="border-1 p-5 radius14 border-300 boxShadow">
                            <!-- {{ userDetails.username }} -->
                            <div class="form-control p-fluid mb-3 flex flex-column gap-1">
                                <label class="text-900 font-semibold mb-1" for="courseTitle">Title of the course</label>
                                <input pInputText type="text" name="courseTitle"
                                    placeholder="Machine Learning for beginners using python..."
                                    [(ngModel)]="formData.title" />
                            </div>

                            <div class="form-control p-fluid mb-3 flex flex-column gap-1">
                                <label class="text-900 font-semibold mb-1" for="subTitle">Subtitle of the course</label>
                                <input pInputText type="text" name="subTitle"
                                    placeholder="Master ML and build awesome applications for future and become job ready..."
                                    [(ngModel)]="formData.subTitle" />
                            </div>

                            <div class="flex gap-3">
                                <div class="form-control p-fluid mb-3 flex flex-column gap-1">
                                    <label class="text-900 font-semibold mb-1" for="price">Set Course Price</label>
                                    <p-inputNumber [(ngModel)]="formData.price" inputId="currency-india" mode="currency"
                                        currency="INR" [min]="200" locale="en-IN" [minFractionDigits]="2"
                                        name="price" />
                                </div>
                                <div class="form-control p-fluid mb-3 flex flex-column gap-1">
                                    <label class="text-900 font-semibold mb-1" for="category">Course Category</label>
                                    <p-dropdown [options]="categories" [(ngModel)]="selectedCategory" optionLabel="name"
                                        autoWidth="false" [style]="{ width: '200px' }" [showClear]="true"
                                        placeholder="Select course category..." name="category" />
                                </div>
                                <div class="form-control p-fluid mb-3 flex flex-column gap-1">
                                    <label class="text-900 font-semibold mb-1" for="language">Course Language</label>
                                    <p-dropdown [options]="languages" [(ngModel)]="selectedLanguage" optionLabel="name"
                                        autoWidth="false" [style]="{ width: '200px' }" [showClear]="true"
                                        placeholder="Select a Language..." name="language" />
                                </div>
                                <div class="form-control p-fluid mb-3 flex flex-column gap-1">
                                    <label class="text-900 font-semibold mb-1" for="language">Level of Course</label>
                                    <p-dropdown [options]="levels" [(ngModel)]="selectedLevel" optionLabel="name"
                                        autoWidth="false" [style]="{ width: '200px' }" [showClear]="true"
                                        placeholder="Select level of course..." name="level" />
                                </div>
                            </div>


                            <div class="form-control p-fluid mb-3 flex flex-column gap-1">
                                <label class="text-900 font-semibold mb-1" for="subTitle">Course Description</label>
                                <textarea rows="5" cols="30" [(ngModel)]="formData.description" pInputTextarea
                                    name="description"></textarea>
                            </div>


                            <div class="flex gap-3 align-items-center mt-3">
                                <button pButton type="submit" [disabled]="loading"
                                    [label]="loading? 'Saving your record...' : 'Save'"
                                    [icon]="loading ? 'pi pi-spin pi-spinner' :  'pi pi-save'"
                                    (click)="saveCourseDetails(nextCallback)"></button>
                            </div>

                        </form>
                    </div>
                </ng-template>
            </p-stepperPanel>

            <p-stepperPanel header="Course Poster">
                <ng-template pTemplate="content" let-prevCallback="prevCallback" let-nextCallback="nextCallback"
                    let-index="index">
                    <div class="flex flex-column">
                        <div class="profile-img p-4 mb-2 flex justify-content-left 
                            align-items-start gap-4 w-full border-1 border-300 border-round-2xl">

                            @if(draftedCourseDetails?.coursePoster.url == '' && !imagePreview){
                                <div class="imgPlaceHolder w-25rem h-15rem"></div>
                            }@else if(draftedCourseDetails.coursePoster.url != '' && !imagePreview) {
                                <img class="previewImg w-25rem h-15rem border-1 border-300" 
                                alt="thumbnail-img" [src]="draftedCourseDetails.coursePoster.url" >
                            }


                            <div *ngIf="imagePreview" class="flex flex-column gap-2 align-items-center justify-content-center mr-4">
                                <img   class="previewImg  w-25rem h-15rem border-1 border-300" 
                                alt="profile-img" [src]="imagePreview" >
                                <span class="text-xs font-bold">
                                    Thumbnail Preview
                                </span>
                            </div>

                            <div class="flex flex-column gap-3 w-8">
                                <div class="text-xl font-bold">Upload your course thumbnail</div>
                                <div class="text-l mb-2">Add a high-quality thumbnail to make your course stand out. A good thumbnail increases engagement and helps attract more learners.</div>
                                <div class="flex flex-column gap-1">
                                    <div class="flex gap-3">
                                        <!-- Upload button -->
                                        <p-fileUpload #fileUpload mode="basic" *ngIf="!uploading"
                                        [chooseLabel]="draftedCourseDetails?.coursePoster?.url  != '' ? 'Update Photo' : 'Choose Photo'" 
                                        chooseIcon="pi pi-upload"
                                        [customUpload]="true" (uploadHandler)="uploadFile($event, nextCallback)" accept="image/*" 
                                        (onSelect)="onImageSelect($event)" [maxFileSize]="3000000"  />

                                        <!-- REMOVE PHOTO Button -->
                                        <p-button *ngIf="draftedCourseDetails?.coursePoster?.url != '' && !imagePreview" severity="danger" size="small" 
                                        (onClick)="deleteFile()"  class="cursor-pointer"  [outlined]="true" [disabled]="deleting"
                                        [icon]="deleting ? 'pi pi-spin pi-spinner' : 'pi pi-trash'"
                                        [label]="deleting ? 'Removing...' : 'Remove Photo'" 
                                        [disabled]="uploading"  ></p-button>
                                    </div>
                                    <!-- Uploading loader -->
                                    <div *ngIf="uploading" class="flex align-items-center w-8rem gap-2 justify-content-center" >
                                        <i class="pi pi-spin pi-spinner"></i> Uploading...
                                    </div>
                                    <span *ngIf="imagePreview && !uploading" class="text-xs font-bold text-green-600 flex align-items-center gap-1">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="1.3em" height="1.3em" viewBox="0 0 24 24"><g fill="none" stroke="currentColor" stroke-linejoin="round" stroke-width="1.5"><path d="M12.394 20.734c-.757.985-2.332.471-2.362-.771l-.239-9.86a1.317 1.317 0 0 1 2.003-1.157l8.42 5.137c1.06.647.718 2.268-.513 2.431l-3.987.527c-.346.046-.66.227-.872.503z"/><path stroke-linecap="round" d="M3.797 8.75h2.5m3.75-3.502v-2.5M6.815 5.765L5.047 3.998m8.232 1.767l1.768-1.767"/></g></svg>
                                        Click again to upload
                                    </span>
                                </div>

                                <!-- CLEAR SELECTION BUTTON -->
                                <p-button *ngIf="imagePreview" severity="danger" size="small" [disabled]="uploading"
                                (onClick)="clearFileSelection()"  class="cursor-pointer" icon="pi pi-times" [outlined]="true"
                                label="Clear Selection"  ></p-button>
                               
                            </div>

                        </div>
                    </div>

                    <!-- <div class="flex pt-4 justify-content-between">
                        <p-button label="Back" icon="pi pi-arrow-left" (onClick)="prevCallback.emit()" />
                        <p-button label="Next" icon="pi pi-arrow-right" iconPos="right"
                            (onClick)="nextCallback.emit()" />
                    </div> -->
                    
                </ng-template>
            </p-stepperPanel>
            <p-stepperPanel header="Course Videos">
                <ng-template pTemplate="content" let-prevCallback="prevCallback" let-index="index">
                    <div>
                        <app-add-video [courseId]="courseId" [userId]="userId" [editMode]="editMode" ></app-add-video>
                    </div>
                    <!-- <div class="flex pt-4 justify-content-start">
                        <p-button label="Back" icon="pi pi-arrow-left" (onClick)="prevCallback.emit()" />
                    </div> -->
                </ng-template>
            </p-stepperPanel>
        </p-stepper>
    </div>
</div>