.nav-container {
  background: linear-gradient(0deg, #b5c6e0, #ebf4f55d 4%);
  padding: 10px 0px;
  border-radius: 14px;
  margin: 10px;
  position: sticky;
  top: 10px;
  z-index: 10;
  backdrop-filter: blur(15px);
  outline: solid 1px #d3dad3;
  box-shadow: #0e3f7e0a 0px 0px 0px 1px, 
  #2a33450a 0px 1px 1px -0.5px, 
  #2a33460a 0px 3px 3px -1.5px, 
  #2a33460a 0px 6px 6px -3px, 
  #0e3f7e0a 0px 12px 12px -6px, 
  #0e3f7e0a 0px 24px 24px -12px;
}
.previewImg{
  object-fit: cover;
}
.navbar {
  width: 90%;
}
.logo {
  font-size: 1.4rem;
  font-weight: bolder;
  font-family: "General Sans";
}
.logoicon {
  margin-bottom: 3px;
  margin-right: -3px;
}

.navbar .links {
  text-decoration: none;
  margin: 0;
  padding: 0;
}
