<div class="detail-container relative ">
    <div class="course-header py-7 ">
        <div class="container mx-auto flex align-items-center justify-content-between ">
            <div class="details w-7 flex flex-column gap-3">
                <div class="title text-0 ">
                    {{selectedCourse?.title}}
                </div>
                <div class="subtitle">
                    {{selectedCourse?.description}}
                </div>
                <div class="price  text-xl text-0 font-bold ">
                    {{(selectedCourse?.price)*83.28 | currency : "INR"}} <s>₹ 4,000</s>&nbsp;
                    <img class="icon" src="https://img.icons8.com/ios/20/ffffff/price-tag--v1.png" alt="price-tag" />
                    <span class="text-green-400 "> 60% Discount</span>
                </div>
                <div class="ratingStudents text-sm flex align-items-center gap-3 ">
                    <div class="rating flex gap-2 ">
                        <span class="bg-green-400 px-2 border-round text-900 font-bold  ">
                            4.5
                        </span>
                        <span style="color :#ffbb00;" class="stars flex gap-1 align-items-center">
                            <i class="pi pi-star-fill" style="font-size: 0.8rem;"></i>
                            <i class="pi pi-star-fill" style="font-size: 0.8rem;"></i>
                            <i class="pi pi-star-fill" style="font-size: 0.8rem;"></i>
                            <i class="pi pi-star-fill" style="font-size: 0.8rem;"></i>
                            <i class="pi pi-star-fill" style="font-size: 0.8rem;"></i>
                        </span> (21,941 ratings)
                    </div>
                    <div class="students flex align-items-center gap-2 ">
                        <img class="icon" src="https://img.icons8.com/ios/20/ffffff/groups.png" alt="groups" />
                        {{selectedCourse?.totalStudentsPurchased}} students
                    </div>
                </div>
                <div class="instructor text-sm ">
                    Created by {{selectedCourse?.educator.edname}}
                </div>
                <div class="langUpdate  text-sm flex align-items-center gap-3">
                    <div class="lastupdated">
                        Last updated : {{selectedCourse?.updatedAt | date:"dd-MMM-yyyy"}}
                    </div>
                    <div class="language flex align-items-center gap-2 ">
                        <img class="icon" src="https://img.icons8.com/ios/20/ffffff/language.png"
                            alt="language" />{{selectedCourse?.language}}
                    </div>
                </div>
            </div>
            <div class="imgcont w-4 ">
                <img src="https://images.unsplash.com/photo-1563819886509-b1a8665118ad?q=80&w=1453&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                    alt="course poster" class="w-full border-1 border-green-300 border-round-lg" />
                <div class="btncont mt-2 p-fluid flex gap-2 cursor-pointer">
                    <p-button class="w-full" label="Buy now"></p-button>
                    <p-button (click)="addToCart()" icon="pi pi-cart-plus" class="w-full" label="Add to cart" [outlined]="true"></p-button>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="showCard"
        class="courseCard overflow-hidden border-round-lg shadow-4 pb-2 w-3 surface-0 ">
        <div class="imgcont w-full">
            <img src="https://images.unsplash.com/photo-1563819886509-b1a8665118ad?q=80&w=1453&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                alt="course-detail picture" class="w-full border-1 border-green-300 border-round-lg">
        </div>
        <div class="p-3">
            <div class="text-lg">
                {{selectedCourse?.title}}
            </div>
            <div class="pricetext-600 text-lg py-3 font-bold ">
                {{(selectedCourse?.price)*83.28 | currency : "INR"}} <s>₹ 4099 </s>
                <img class="icon" src="https://img.icons8.com/ios/20/price-tag--v1.png" alt="price-tag" />
                <span class="text-green-400 "> 60% Discount</span>
            </div>
            <div class="btncont mt-2 p-fluid flex flex-column gap-2 ">
                <p-button label="Buy now"></p-button>
                <p-button label="Add to cart" [outlined]="true"></p-button>
            </div>
        </div>
    </div>
    <div class="container mx-auto mb-8 ">
        <div class="section py-4 mt-4 ">
            <div class="head">
                This course includes
            </div>
            <div class="flex flex-wrap align-items-center gap-3 justify-content-between  w-7 ">
                <span class="flex align-items-center gap-1 ">
                    <img class="icon" src="https://img.icons8.com/ios/20/laptop-play-video--v1.png"
                        alt="laptop-play-video--v1" /> 143 lectures
                </span>
                <span class="flex align-items-center gap-1 ">
                    <img class="icon" src="https://img.icons8.com/ios/20/certificate--v1.png" alt="certificate--v1" />
                    Certificate of completion
                </span>
                <span class="flex align-items-center gap-1 ">
                    <img src="https://img.icons8.com/ios-glyphs/20/task.png" alt="task" /> Assignments
                </span>
                <span class="flex align-items-center gap-1 ">
                    <img class="icon" src="https://img.icons8.com/ios/20/project.png" alt="project" /> Projects
                </span>
            </div>
        </div>
        <div class="section py-4 ">
            <div class="head">Description</div>
            <div class="dtext w-7">
                <p class="m-0 z-2">
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eligendi ipsam animi tenetur in eaque enim
                    quo,
                    harum labore optio facilis officiis corrupti impedit ullam nobis, architecto tempora aperiam officia
                    aliquam! Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo maiores rem non? Fugiat
                    eius dignissimos repellat totam quibusdam eveniet laboriosam.
                </p>
                <input type="checkbox" name="check" id="check">
                <label class="label z-3 text-green-500 cursor-pointer readBtn py-2 " for="check">Read more...</label>
                <p class="restPara z-2 m-0 mt-2 ">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aut, sed tenetur culpa rerum vel
                    recusandae, reprehenderit nostrum et a sequi perferendis atque corrupti ipsum ab! Numquam
                    consectetur ipsam officiis sint.
                </p>
                <label class="label2 z-3 text-green-500 cursor-pointer py-2  " for="check">Read less...</label>

            </div>
        </div>
        <div class="section py-4">
            <div class="head">
                Course content
            </div>
            <div class="accordian w-7 ">
                <ng-container *ngFor="let item of courseContent;">
                    <p-accordion size="small" [activeIndex]="[0]">
                        <p-accordionTab>
                            <ng-template pTemplate="header">
                                <span class="flex align-items-center justify-content-between w-full">
                                    <div>{{item.title}}</div>
                                    <div class="text-sm text-600 font-normal "> {{item.content.length}} lectures</div>
                                </span>
                            </ng-template>
                            <ng-container *ngFor="let cont of item.content; index as i">
                                <p class="flex align-items-center gap-2 px-2 ">
                                    <img class="icon"
                                        src="https://img.icons8.com/fluency-systems-regular/20/8E949D/circled-play--v1.png"
                                        alt="circled-play" /> {{cont}}
                                </p>
                            </ng-container>
                        </p-accordionTab>
                    </p-accordion>
                </ng-container>
            </div>
        </div>
        <div class="section py-4">
            <div class="head">Rating & reviews</div>
            <div class="raterev flex align-items-center gap-7 py-4 mb-4 border-bottom-2 w-7 border-300     ">
                <span class="flex align-items-center gap-1 text-lg font-bold">
                    <img class="icon" src="https://img.icons8.com/fluency-systems-filled/25/FFC811/star.png"
                        alt="star" />4.7 course rating
                </span>
                <span class="flex align-items-center gap-1 text-lg font-bold">
                    <img class="icon" src="https://img.icons8.com/ios/25/groups.png" alt="groups" /> {{reviewsArr?.length}} ratings
                </span>
            </div>
            <!-- <div class="reviewsCont w-7 flex flex-column gap-6 ">
                <ng-container *ngFor="let item of reviewsArr">
                    <div class="rateCard">
                        <div class="header flex align-items-center gap-3 mb-2 ">
                            <div class="imgCont w-1">
                                <img src="https://images.unsplash.com/photo-1560250097-0b93528c311a?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8cHJvZmlsZSUyMGltYWdlfGVufDB8fDB8fHww"
                                    alt="" class="w-full border-1 profileImg ">
                            </div>
                            <div class="namestar flex flex-column align-items-start ">
                                <div class="name font-bold text-xl"> {{item.username}} </div>
                                <div style="color :#ffbb00;" class="stars flex gap-1 align-items-center">
                                    <ng-container *ngFor="let star of getStars(item.rating)">
                                        <img  src="https://img.icons8.com/metro/16/ffbb00/filled-star.png" alt="filled-star"/>
                                    </ng-container>
                                    <ng-container *ngFor="let star of getRemainingStars(item.rating)">
                                        <img  src="https://img.icons8.com/metro/16/ffbb00/star.png" alt="star"/>
                                    </ng-container>
                                </div>
                            </div>
                        </div>
                        <div class="desc">
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dicta provident odio unde non
                            saepe
                            itaque dolores eveniet est ipsam totam.
                        </div>
                    </div>
                </ng-container>
            </div> -->
        </div>
        <div class="section py-4">
            <div class="head">
                Instructor
            </div>
            <div class="insInfo">
                <div class="inshead mb-3 flex gap-4 align-items-center">
                    <div class="imgcont">
                        <img src="https://images.unsplash.com/photo-1556157382-97eda2d62296?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                            alt="" class="w-full teacherImg " style="border-radius: 400px;">
                    </div>
                    <div class="info">
                        <div class="name text-xl text-green-500 font-bold">Nirmal Joshi</div>
                        <div>Founder CEO,Corporate Trainer,Programming Aficionado</div>
                        <div class=" mt-3 stcr flex flex-column gap-2">
                            <div class="students flex align-items-center gap-2">
                                <img class="icon" src="https://img.icons8.com/ios/22/tall-person.png"
                                    alt="tall-person" />
                                12,345 students.
                            </div>
                            <div class="courses flex align-items-center gap-2">
                                <img class="icon" src="https://img.icons8.com/ios/22/knowledge-sharing.png"
                                    alt="knowledge-sharing" />
                                8 courses.
                            </div>
                        </div>
                    </div>

                </div>
                <div class="dtext w-7">
                    <p class="m-0 z-2">
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eligendi ipsam animi tenetur in eaque
                        enim quo, harum labore optio facilis officiis corrupti impedit ullam nobis, architecto tempora aperiam
                        officia aliquam! Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo maiores rem non?
                        Fugiat eius dignissimos repellat totam quibusdam eveniet laboriosam.
                    </p>
                    <input type="checkbox" name="check" id="check2">
                    <label class="labelv2 z-3 text-green-500 cursor-pointer readBtn py-2 " for="check2">Read more...</label>
                    <p class="restPara2 z-2 m-0 mt-2 ">
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aut, sed tenetur culpa rerum vel
                        recusandae, reprehenderit nostrum et a sequi perferendis atque corrupti ipsum ab! Numquam
                        consectetur ipsam officiis sint.
                    </p>
                    <label class="label2v2 z-3 text-green-500 cursor-pointer py-2  " for="check2">Read less...</label>

                </div>
            </div>
        </div>
    </div>
    <div>
        <app-footer></app-footer>
    </div>
</div>