.head {
  font-size: 1.3rem;
  font-weight: 600;
  margin-bottom: 1rem;
}
.container {
  width: 90%;
}

.course-header {
  color: #a6cabd;
  background-size: 30px 30px;
  background-image: radial-gradient(circle, #2e3f2e 1px, #1a251a 1px);
  padding: 64px 0px;
}

.course-header .top-details{
  width: 100%;
  max-width: 650px;
}

.course-header .title {
  font-size: 1.6rem;
  font-weight: 600;
  letter-spacing: 1px;
}


.courseCard {
  position: absolute;
  top: 3%;
  right: 10%;
  border-radius: 16px;
  border: solid 1px #000;
  max-width: 350px;
  width: 100%;
}

.price {
  letter-spacing: 2px;
  color: #ffffff;
  font-size: 1.6rem;
  font-weight: 600;
}

#check {
  display: none;
}

.restPara {
  /* display: none; */
  height: 0px;
  overflow: hidden;
  transition: height 0.3s ease;
}

#check:checked~.restPara {
  height: auto;
  transition: height 0.3s ease;
}

.label2 {
  display: none;
}

#check:checked~.label2 {
  display: flex;
}

.label {
  display: flex;
}

#check:checked~.label {
  display: none;
  height: auto;
}

.readBtn {
  background: linear-gradient(180deg, #ff000000, #ffffff 60%);
  width: 100%;
  height: 80px;
  margin-top: -50px;
  z-index: 5;
  justify-content: left;
  align-items: end;
  position: relative;
}

.profileImg {
  aspect-ratio: 1;
  object-fit: cover;
  border-radius: 200px;
}

.teacherImg {
  aspect-ratio: 1;
  object-fit: cover;
}

.insInfo .imgcont {
  width: 15%;
}

#check2 {
  display: none;
}

.restPara2 {
  /* display: none; */
  height: 0px;
  overflow: hidden;
  transition: height 0.3s ease;
}

#check2:checked~.restPara2 {
  height: auto;
  transition: height 0.3s ease;
}

.label2v2 {
  display: none;
}

#check2:checked~.label2v2 {
  display: flex;
}

.labelv2 {
  display: flex;
}

#check2:checked~.labelv2 {
  display: none;
  height: auto;
}



.raterev-header {
  border: solid 1px #c0c0c0;
  background-color: #fafffd;
  border-top-right-radius: 12px;
  border-top-left-radius: 12px;
}

.avatar {
  color: #222;
}

.reviews-section {
  width: 100%;
  background-color: #fafffd;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  border: solid 1px #c0c0c0;
  border-top: none;
}

.reviews-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px 28px;

}

.review-card {
  border-bottom: solid 2px #777;
}

.review-meta h4 {
  margin: 0;
  font-size: 18px;
  font-weight: 600;
}

.time {
  font-size: 13px;
  color: #777;
}

.review-text {
  margin: 10px 0px;
  font-size: 16px;
  line-height: 1.5;
  color: #222;
}

.empty-review-text{
  color : #10B880;
  font-weight: bold;
}

.imgcont-mobile{
  width: 100%;
  max-width: 400px;
  display: none;
}
.imgcont-mobile img{
  height: 220px;
  border-radius: 20px;
}

/* ====================== */
/* ===== Tablet ======== */
/* ====================== */

@media (max-width: 1024px) {
  .container{
    width: 93%;
  }
  .courseCard{
    display: none;
  }
  .course-header{
    padding: 40px 0px;
  }
  .imgcont-mobile{
    display: block;
  }
}


/* ====================== */
/* ===== Mobile ======== */
/* ====================== */

@media (max-width: 768px) {
  .reviews-grid {
    grid-template-columns: 1fr;
  }
  .courseCard{
    display: none;
  }
}
