<p-dataView #dv *ngIf="!error" [value]="courses">

    <ng-template let-courses pTemplate="list">
        <div class="flex flex-wrap p-3 gap-3">
            <div  class="courseCard border-round-xl border-1 border-100" 
            *ngFor="let item of courses; let first = first">
                <div class="flex flex-column p-2 gap-1">
                    <div class="imgcont w-full">
                        <img [src]="item.coursePoster.url" [alt]="item.title"
                            class="w-full h-10rem border-round border-1 border-100" style="object-fit: cover;" />
                    </div>
                    <div class="flex flex-column w-full gap-2 p-1">
                        <div class="text-lg font-bold text-900 font-bold">{{ item.title }}</div>
                        <div class="text-sm">{{item.totalLectures}} lectures | {{item.level}} | {{item.language}}</div>
                        <div class="text-xl font-semibold">₹ {{item.price}}</div>
                        <div class="flex flex-wrap gap-1 mt-2">
                            <p-button icon="pi pi-pencil" label="Update"  (onClick)="navigateToEditCourse(item?._id)" />
                            <p-button icon="pi pi-eye" [outlined]="true" severity="secondary" 
                            (onClick)="navigateToCourseDetails(item._id)" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ng-template>

</p-dataView>