.video {
  background-color: #333333;
}
.container {
  position: relative;
}
.playlistcontainer {
  height: 90vh;
  overflow: auto;
  position: fixed;
  right: 0.2%;
}
.playlistcontainer .header {
  position: sticky;
  top: 0;
  z-index: 5;
}

::-webkit-scrollbar-thumb{
  background-color: #696969;
}
.video_text_section{
  padding: 10px;
  border-radius: 8px;
  border: solid 1px #fff;
}
.video_text_section:hover, .active{
  background-color: #e5eeeb;
  border: solid 1px #8be2a5;
  cursor: pointer;
  color: #000000;
}
