.homepage-container{
  background-color: #f5f5f5;

}
.topsect {
  scroll-margin: 80px;
}
.info {
  top: 50%;
  left: 25%;
  width: 33%;
  background-color: #f5f5f5;
  transform: translate(-50%, -50%);
}
.info .head {
  font-family: "General Sans";
  
  color: #303030;
}
.info .para {
  line-height: 1.6;
}

.container {
  width: 90%;
}
.heading {
  font-size: 1.5rem;
  font-weight: 700;
  font-family: "General Sans";
}
.artimage {
  width: 100%;
  height: 150px;
  object-fit: cover;
  transition: all 0.5s ease;
}
.artimage:hover {
  width: 120%;
  height: 150px;
}
.article:hover {
  .artimage {
    width: 120%;
    height: 150px;
    background-position: center;
  }
  .art-title {
    color: #0eb27c;
    text-decoration: underline;
  }
}
.timg {
  transform: scaleX(-1);
}

.footer {
  background: linear-gradient(135deg, #1a251a 50%, #3f553f);
}
.link {
  text-decoration: none;
  color: #8cdf7c;
}
.link:hover {
  text-decoration: underline;
}
.name {
  text-shadow: 0px 0px 3px #ffffff;
  letter-spacing: 1px;
}
.topbtn {
  color: #fff;
  width: 50px;
  height: 50px;
  border-radius: 200px;
  position: absolute;
  bottom: 6%;
  right: 5%;
  text-decoration: none;
}
.imgPlaceHolder{
  background: linear-gradient(135deg, #30c272, #3055b9);
}
.ed-head{
  font-family: "General Sans";
  margin: 5px 0;
  letter-spacing: 1px;
}