<div class="container py-4">
    <div class="heading mb-2 ">
        Certificate
    </div>
    <div class="textbtn">
        <div *ngIf="!completionStatus" class="text mb-5">
            Get your Skill Up certificate after completion of this course.
        </div>
        <div *ngIf="completionStatus" class="text mb-5">
            Congratulation, you have won a certificate of completion of this course.
        </div>
        <p-button label="Download certificate" icon="pi pi-download"
        [disabled]="!completionStatus" (onClick)="notifyParent()" [loading]="loading" ></p-button>
    </div>
</div>
