<div class="container">
    <div class="heading mt-3 mb-2 ">
        Certificate
    </div>
    <div class="textbtn mb-4">
        <div *ngIf="!completionStatus" class="text mb-1 ">
            Get your Skill Up certificate after completion of this course.
        </div>
        <div *ngIf="completionStatus" class="text mb-1 ">
            Congratulation, you have won a certificate of completion of this course.
        </div>
        <p-button label="Download certificate" icon="pi pi-download"
        [disabled]="!completionStatus" (onClick)="notifyParent()" [loading]="loading" ></p-button>
    </div>
</div>
