.login-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: calc(100vh - 4rem);
  margin: auto;
  padding: 30px;
  background-size: 30px 30px;
  background-image: radial-gradient(circle, #c1c5c1 1px, #ffffff 1px);
}

.right {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  align-self: stretch;
  border: solid 1px;
  border-radius: 18px;
  background: linear-gradient(to bottom, #fff 0%, #fff 40%, #ffffff00 100%),
    linear-gradient(to right, #00b85c, #a3f9ff);
  position: relative;
  overflow: hidden;
  z-index: 2;
}

.right::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  background-image: linear-gradient(90deg, #ccc 1px, transparent 1px);
  background-size: 50px 100%;
  pointer-events: none;
  mask-image: linear-gradient(to bottom,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 0) 70%);
  -webkit-mask-image: linear-gradient(to bottom,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 0) 70%);
}

.right img {
  width: 350px;
}

.left {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: stretch;
}

.left form {
  width: 350px;
}

.backbtn {
  width: 90%;
}


.order-nav {
  border-bottom: solid 1px #e2e2e2;
  border-bottom-right-radius: 14px;
  border-bottom-left-radius: 14px;
}

.inner-nav {
  width: 90%;
}

.logo {
  font-size: 1.4rem;
  font-weight: bolder;
  font-family: "General Sans";
}

@media only screen and (max-width: 600px) {}