.head {
  font-size: 1.3rem;
  font-weight: 600;
  font-family: "General Sans";
  margin-bottom: 1rem;
}
.container {
  position: relative;
  box-sizing: border-box;
}
.filter {
  width: 25%;
  height: calc(100vh - 60px);
}
.coursescont {
  height: calc(100vh - 60px);
  overflow-y: scroll;
}
