.courses-page {
  padding: 20px;
}

.filter-bar {
  border-radius: 8px;
  background-color: #fff;
  border : solid 1px #cfd1d4;
  padding : 8px;
}

.filter-dropdown {
  width: 160px;
}

.clear-btn {
  font-size: 12px;
  cursor: pointer;
  color: #16a34a;
  margin-left: 5px;
}

.courses-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 25px;
  margin-top: 20px;
}

.course-card {
  border: 1px solid #bec1c7;
  border-radius: 10px;
  overflow: hidden;
  background: #fff;
  transition: all .2s ease;
}

.course-card:hover {
  transform: translateY(-4px);
  box-shadow: 0 0 0 2px #16a34a94,  0 10px 20px #00000014;
}

.course-img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.course-body {
  padding: 12px;
}

.course-title {
  font-weight: 600;
  font-size: 1.1rem;
  font-weight: semibold;
  margin-bottom: 4px;
}
.course-subTitle{
  font-size: 0.95rem;
  color: #525763;
  margin-bottom: 6px;
  line-height: 1.2;
}

.instructor {
  font-size: 0.85rem;
  color: #6b7280;
  margin-bottom: 6px;
}

.course-meta {
  font-size: 0.85rem;
  color: #374151;
  margin-bottom: 6px;
}

.price {
  font-size: 1.2rem;
  font-weight: 600;
}

.paginator{
  border: solid 1px #bec1c7;
  border-radius: 999px;
  box-shadow: 0px 2px 2px #00000014;
  overflow: hidden;
}